<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <title>Administracja</title>
</head>
<body>
<div class="wrap">
    {% if logged %}
    <div class="upper">
        <a href="/">Wroc do strony glownej</a><br>
    </div>
    <div class="content">
        <h1>Administracja uzytkownikami:</h1><br>
    <div class="AddUser">
        Dodaj Uzytkownika <br>
        <form method="POST" action="/users">
           Nazwa: <input type="text" name="login"/>
           Haslo: <input type="password" name="password"/>
            <input value="Dodaj" type="submit"/>
        </form>
    </div>

        {% for user in users %}
    <div class="users">

         <br>
         <span style="display: inline-block">
            nazwa: {{user[1]}}

                <form method="post" style="display: inline-block"  action="users/delete/{{user[0]}}">
                    <input value="Usuń Uzytkownika" type="submit"/>
                </form>
         </span>


    </div>
        {% endfor %}
    {% else %}
        Access Denied
    {% endif %}
    <div class="footer"><br></div>
        </div>
</div>
</body>
</html>