<html>
<head>
    <title>My Microblog</title>
</head>
<body>
    <div class="Header>
        <div class="login>
            %if logged:
                Jestes zalogowany
            %else:

        </div>
    </div>

</body>
</html>