<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <title>Microblog</title>
</head>
<body>
<div class="wrap">
    <div class="upper">
        <div class="login">
            {% if logged %}
                <div class="adm">
                <a href="../users">Administracja uzytkownikami</a>
                </div>
                <div class="cred">
                Zalogowany jako: {{author}}<br>
                <a href="/logout">Wyloguj</a>
                </div>
            {% else %}
                <div class="cred">
                    Zaloguj:
                    <form style="display: inline" method="POST" action="/login">
                        <input name="name"     type="text" />
                        <input name="password" type="password" />
                        <input type="submit" />
                     </form>
                </div>
            {% endif %}

        </div>

    </div>
    <div class="conent">
        <h1>Mój Mały Blog</h1>
        {% if logged %}
        <div class="AddEntry">
            Dodaj Wpis <br>
            <form method="POST" action="/">
                <TEXTAREA NAME="content" COLS=40 ROWS=6></TEXTAREA>
                <input style="margin: 0 auto;display: block" value="Dodaj" type="submit"/>
            </form>
        </div>
        {% endif %}

        {% for entry in entries %}
            <div class="entry">

                   {{entry[3]}} <br>
                    <span style="display: inline-block">
                   Data Dodania: {{entry[1]}} Autor: {{entry[2]}}
                    {% if logged %}
                        <form method="post" style="display: inline-block"  action="/delete/{{entry[0]}}">
                        <input value="Usuń Wpis" type="submit"/>
                        </form>

                    {% endif %}
                    </span>

            </div>
        {% endfor %}
        <div class="footer"><br></div>


    </div>
</div>
</body>
</html>