body{
    text-align: center;
    margin-bottom: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    background:#efece6;
    padding-bottom: 14px;
}
div.wrap{
    background-color: white;
    box-shadow: rgba(0,0,0,.23) 0 10px 15px;;
}
div.upper{
    background-color:lightblue;
    margin-left: 14px;
    margin-right: 14px;
    margin: 10px;
}
div.adm{
    text-align: left;
}
div.cred{
    text-align: right;
    display: block;
}
div.entry{
    background-color: bisque;
    padding: 10px;
    margin: 14px;
    margin-left: 20px;
    margin-right: 20px;
}
div.content{
    padding-bottom: 14px;
}
div.AddEntry{
    background-color: bisque;
    margin-left: 70px;
    margin-right: 70px;
}
div.footer{
    height: 2px;
    background-color: red;
}

div.users{
    background-color: bisque;
    padding: 10px;
    margin: 14px;
    margin-left: 20px;
    margin-right: 20px;
}
div.AddUser{
    background-color: bisque;
    margin-left: 70px;
    margin-right: 70px;
}
