<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Książki o Pythonie</title>
    </head>
    <body>
        <h1>Lista książek do poduszki</h1>
        <div class="ksiazki">
            {% for entry in entries %}
            <li><a href="book/{{entry[0]}}" >Title: {{ entry[1] }}</a> <br>
                {% else %}
            </li>
            <li><em>Unbelievable.  No entries here so far</em>
                {% endfor %}


        </div>


        <p>Oto lista książek, która może cię zaciekawić.
           Kliknij na tytuł, żeby dowiedzieć się więcej na temat danej książki.</p>
        <!-- wypełnij szablon listą książek -->
    </body>
</html>