<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <!-- wyepłnij szablon szczegółami danej książki -->
        tytul: {{details[0]}} <br>
        isbn: {{details[1]}}<br>
        autor: {{details[2]}}<br>
        wydawca {{details[3]}}<br>
    </body>
</html>